*.class
*.jar
*.war
*.ear
*.tmp
*.tar
*.zip

/*/.classpath
/*/.project
/*/.settings
/*/.metadata
/*/.gradle
/*/build
/*/bin/
/*/bin/**
/.gradle
/.classpath
/.settings
/.settings/**

/build/
/gradle/
/bin/